.profile__button_type_edit {
    width: 24px;
    height: 24px;
    margin: 15px 0 0 18px;
    border: 1px solid #ffffff;
    background-image: url("../../../../images/profile-edit-button.svg");
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__button_type_edit {
        width: 18px;
        height: 18px;
        margin: 9px 0 0 0;
        align-self: flex-start;
    }
}